.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 16px;
  padding-top: 8px;
  min-width: 480px;

  .full-width {
    grid-column: 1 / -1;
  }

  .toggle-field {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
  }
}
